@import shared

header
  display: flex
  flex-wrap: wrap

  /* search bar & metrics */
  & > div
    flex: 4
    margin: 0 50px 30px 50px

    @media #{$medium}
      margin: 0 30px 30px 30px

    @media #{$small}
      margin: 0 10px 15px 10px

  /* metrics */
  & > div:nth-of-type(2)
    flex: 3
    display: flex
    justify-content: space-between

.metric-container
  @extend %information-pane
  align-items: center
  display: inline-flex
  flex-direction: column
  margin-right: 15px
  white-space: nowrap

  &:last-of-type
    margin-right: 0
