@import shared

header
  display: flex
  flex-wrap: wrap

  /* search bar & metrics */
  & > div
    flex: 1

  /* metrics */
  & > div:nth-of-type(2)
    display: flex
    justify-content: space-between

.metric-container
  @extend %information-pane
  align-items: center
  display: inline-flex
  flex-direction: column
  margin-right: 15px
  white-space: nowrap

  &:last-of-type
    margin-right: 0
