@import shared

header
  display: flex
  flex-wrap: wrap
  align-items: center

  /* search bar & metrics */
  & > div
    flex: 4
    margin: 0 50px 30px 50px

    @media #{$medium}
      margin: 0 30px 30px 30px

    @media #{$small}
      margin: 0 10px 15px 10px

  #nav-button-container
    display: flex
    text-decoration: none
    & > *
      color: $black !important
      cursor: pointer
      height: 40px
      margin-right: 20px
      display: flex
      align-items: flex-end
      font-size: 1.5em
      &:hover
        *
          color: $grey
      & > div
        display: flex
        align-items: flex-end



  /* metrics */
  & > div:last-of-type
    flex: 3
    display: flex
    justify-content: space-between

.metric-container
  @extend %information-pane
  align-items: center
  display: inline-flex
  flex-direction: column
  margin-right: 15px
  white-space: nowrap

  &:last-of-type
    margin-right: 0
